@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?a4snc5') format('woff');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?a4snc5#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?a4snc5') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?a4snc5') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?a4snc5##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-center {
  &:before {
    content: $icon-x-center; 
  }
}
.icon-fill {
  &:before {
    content: $icon-fill; 
  }
}
.icon-y-center {
  &:before {
    content: $icon-y-center; 
  }
}
.icon-music2 {
  &:before {
    content: $icon-music2; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-redo {
  &:before {
    content: $icon-redo; 
  }
}
.icon-undo {
  &:before {
    content: $icon-undo; 
  }
}
.icon-view {
  &:before {
    content: $icon-view; 
  }
}
.icon-save {
  &:before {
    content: $icon-save; 
  }
}
.icon-single-sel {
  &:before {
    content: $icon-single-sel; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-multiple-sel {
  &:before {
    content: $icon-multiple-sel; 
  }
}
.icon-split {
  &:before {
    content: $icon-split; 
  }
}
.icon-button {
  &:before {
    content: $icon-button; 
  }
}
.icon-rect {
  &:before {
    content: $icon-rect; 
  }
}
.icon-black {
  &:before {
    content: $icon-black; 
  }
}
.icon-carousel {
  &:before {
    content: $icon-carousel; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-align-top {
  &:before {
    content: $icon-align-top; 
  }
}
.icon-level-up {
  &:before {
    content: $icon-level-up; 
  }
}
.icon-canlender {
  &:before {
    content: $icon-canlender; 
  }
}
.icon-movie {
  &:before {
    content: $icon-movie; 
  }
}
.icon-text {
  &:before {
    content: $icon-text; 
  }
}
.icon-align-bottom {
  &:before {
    content: $icon-align-bottom; 
  }
}
.icon-level-down {
  &:before {
    content: $icon-level-down; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-align-right {
  &:before {
    content: $icon-align-right; 
  }
}
.icon-align-left {
  &:before {
    content: $icon-align-left; 
  }
}

