$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts" !default;

$icon-x-center: "\e91a";
$icon-fill: "\e91b";
$icon-y-center: "\e91c";
$icon-music2: "\e919";
$icon-copy: "\e900";
$icon-image: "\e901";
$icon-redo: "\e902";
$icon-undo: "\e903";
$icon-view: "\e904";
$icon-save: "\e905";
$icon-single-sel: "\e906";
$icon-map: "\e907";
$icon-multiple-sel: "\e908";
$icon-split: "\e909";
$icon-button: "\e90a";
$icon-rect: "\e90b";
$icon-black: "\e90c";
$icon-carousel: "\e90d";
$icon-delete: "\e90e";
$icon-align-top: "\e90f";
$icon-level-up: "\e910";
$icon-canlender: "\e911";
$icon-movie: "\e912";
$icon-text: "\e913";
$icon-align-bottom: "\e914";
$icon-level-down: "\e915";
$icon-music: "\e916";
$icon-align-right: "\e917";
$icon-align-left: "\e918";

$cprimary: #272727;
$csecondary: #323232;
$cborder: #505152;
$chigh: #F9AD15;
$clightfont: #A8A8A8;
